# Dependencies
/node_modules/
/server/node_modules/
/client/node_modules/
/client/.pnp
.pnp.js

# Logs
/server/logs/

# Next.js
/client/.next/
/client/out/
/client/build/
/client/.vercel

# Production
/server/dist/
/server/build/

# Coverage
/server/coverage/

# Environment files
/server/dev.env

